// 颜色
$primary-color: #409EFF;
$primary-background-color: #ecf5ff;
$parmary-border-color: #e0e0e0;
$dark-bg: #383838;
$dark-header-bg: #222;
$dark-body-bg: #333;
$dark-border: #4c4c4c;
$dark-color: #ddd;

$top-height: 50px;
$top-height-tab: 90px;

$animation-time: var(--time, 1s); // 动画时长
