.k-sidebar{
  position: fixed;
  top: 0;
  left: 300px;
  z-index: 2000;
  width: 260px;
  background: #fff;
  width: 260px;
  background-size: cover;
  background-position: 50%;
  height: 100%;
  max-height: 100%;
  overflow: hidden !important;
  overflow-anchor: none;
  box-shadow: 0 16px 38px -12px, 0 4px 25px 0px, 0 8px 10px -5px;
  transition-property: top,bottom, width, background-image;
  transition-duration: .2s,.2s, .35s, .30s;
  .logo{
    padding: 15px 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
    .logo-mini{
      opacity: 1;
      float: left;
      width: 34px;
      text-align: center;
      margin-left: 23px;
      margin-right: 13px;
      position: relative;
      top: -3px;
      transition: all 300ms linear;
      .logo-img{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 34px;
        width: 34px;
        background: #fff;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;
      }
    }
    .simple-text{
      color: #fff !important;
      text-transform: uppercase;
      padding: 5px 0px;
      display: inline-block;
      font-size: 18px;
      white-space: nowrap;
      font-weight: 400;
      line-height: 30px;
      overflow: hidden;
    }
    .logo-normal{
      display: block;
      opacity: 1;
      -webkit-transform: translate3d(0px, 0, 0);
      transition: all 300ms linear;
      transform: translate3d(0px, 0, 0)
    }
    .navbar-minimize{
      position: absolute;
      right: 13px;
      top: 10px;
      opacity: 1;
      transition: all 300ms linear;
      .md-transparent{
        background-color: none !important;
        box-shadow: none;
      }
    }
  }
  .logo:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180,180,180,0.3);
  }

  .sidebar-wrapper{
    position: relative;
    height: calc(100vh - 70px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    display: flex;
    .left-menu{
      width: 60px;
      height: 100%;
      .item{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .item-content{
          width: 90%;
          height: 90%;
          display: flex;
          i{
            margin: 0;
            margin-left: 0 !important;
          }
        }
      }
    }
    .nav{
      background-color: rgba(0, 0, 0, 0);
    }
  }

}

.k-sidebar:after{
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(27,27,27,0.85);
  top: 0;
  left: 0;
  z-index: 2;
}
