.k-form-search-footer{
  width: 100%;
  display: flex;
  justify-content: center;
  // margin-top: 32px;
  margin-bottom: 10px;
}

.k-form-search-footer button{
  margin: 0 7.5px;
}

.search-header{
  display: flex;
  justify-content: space-between;
}
