<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kayak.web.business.mapper.BaseAccountMergeOrderMapper">

    <resultMap type="com.kayak.web.business.domain.BaseAccountMergeOrder" id="BaseAccountMergeOrderResult">
        <result property="id" column="id"/>
        <result property="cstmDtF" column="cstm_dt_f"/>
        <result property="cstmDtE" column="cstm_dt_e"/>
        <result property="cstmAccF" column="cstm_acc_f"/>
        <result property="cstmAccT" column="cstm_acc_t"/>
        <result property="optDt" column="opt_dt"/>
        <result property="optTm" column="opt_tm"/>
        <result property="optUserId" column="opt_user_id"/>
        <result property="optUserNm" column="opt_user_nm"/>
        <result property="mrgSts" column="mrg_sts"/>
    </resultMap>

    <update id="updateMrgStsById">
        UPDATE base_account_merge_order
           SET MRG_STS = #{mrgSts}
         WHERE id = #{id}
    </update>

</mapper>
