<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kayak.web.workflow.mapper.WfEnvItemMapper">

    <resultMap type="com.kayak.web.workflow.domain.WfEnvItem" id="WfEvnItemResult">
        <result property="envItemId" column="env_item_id"/>
        <result property="envId" column="env_id"/>
        <result property="itemKey" column="item_key"/>
        <result property="itemValue" column="item_Value"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
