<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kayak.web.workflow.mapper.WfValidateConfigMapper">

    <resultMap type="com.kayak.web.workflow.domain.WfValidateConfig" id="WfValidateConfigResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="rule" column="rule"/>
        <result property="remark" column="remark"/>
    </resultMap>


</mapper>
