[TCP]
TIMEOUT=60000
COMPRESSED=0
LEVEL=0
TCPHostNum=1
SYSID=087801
CHGID=0878

[TCPHOST01]
HOSTNO=1
# 生产
IP=lcesb.spdb-wm.com
PORT=7801
VERSIONNO=2

[TCPHOST02]
HOSTNO=2
# sit uat rel
IP=21.76.22.190
PORT=7801
VERSIONNO=2